.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem; 
    padding: 1rem; 
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1)
}

.imag {
    flex: 1;
    margin: 1 rem;
}

.info{
    flex: 2;
    margin: 1rem; 
}

@media (max-width: 600px){
    .event {
        flex-direction: column;
        text-align: center;
    }
    .info {
        margin-bottom: 2rem; 
    }
}